<template>
  <div class="home">
	<v-card>
		<v-img max-height= "200" alt="Vue logo" src="../assets/logo-embarques.png" contain>  			
		</v-img>
	</v-card>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home'
}
</script>
